    .body{clear:both;margin:auto;}
    body{font-family: Arial, Helvetica, sans-serif;}
    /*----> Head <---- */
    .mainHeader { width: 100%; background-color: #333; height:55px;border-bottom: 5px solid slateblue;}
    .logo p{float:left;margin-left:25px;font-family: Arial, Helvetica, sans-serif ;  font-size: 18px;margin-top: 15px;color:#fff;}
    .login button{float:right;cursor: pointer;padding: 5px 18px; background-color: slateblue; color: #fff;  margin-right:35px;font-family: Arial, Helvetica, sans-serif ;  font-size: 18px;margin-top: 10px;}
    .login button a {color: #fff;text-decoration: none;}
    /*Main Content*/
    .mainContent{width: 100%; height: 250px; background-color: slateblue;margin-top: -1%; }
    .content p{text-shadow: 3px 3px #333; text-align: center;color: #fff; padding-top: 55px; font-size: 53px;  font-family: Arial, Helvetica, sans-serif; font-weight: bold;}

    /*Middle Content*/
    .middle-content{width: 100%; height:auto;  margin-top: 60px;}
    .icon-image {width:115px; height: auto; font-size:20px; font-family: Arial, Helvetica, sans-serif; display: inline-block; color: #333;padding:1% 4%;}
    .icon-image p {margin-top: -20px;}
    /* The Modal (background) */
    .modal {display: none; position: fixed; z-index: 1; padding-top: 100px;  top: 0; width: 100%;  height: 100%;  overflow: auto;  background-color: rgb(0,0,0);  background-color: rgba(0,0,0,0.4); }
    /* Modal Content */
    .modal-content 
    { position: relative; background-color: #fff;  margin: auto;   padding: 0;  border: 1px solid #888;width: 50%;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: animatetop;-webkit-animation-duration: 0.4s;animation-name: animatetop;animation-duration: 0.4s}
    /* Add Animation */
    @-webkit-keyframes animatetop {from {top:-300px; opacity:0} to {top:0; opacity:1}}
    @keyframes animatetop {from {top:-300px; opacity:0}to {top:0; opacity:1}}
    /* The Close Button */
    .close {  color: white;float: right; font-size: 28px;font-weight: bold;}
    .close:hover,.close:focus {color: #000;text-decoration: none;cursor: pointer;}
    /*MODEL HEader*/
    .modal-header {height: 30px;padding: 2px 16px;background-color: slateblue;color: white;}
    /*MODEL BODY*/
    .modal-body-content {width:80%; margin-left:6%;  font-size:20px; font-family: Arial, Helvetica, sans-serif; display: inline-block; color: #333;padding:1% 4%;}
    .modal-body-content h1{color:#333; margin-bottom: 1px;}
    .input-type-one{font-size: 12px;opacity: 1;width: 80%;margin-top: 5%;background-color: #fff;color: #000;border: 1px solid #999;border-radius: 2px;padding: 10px 0 10px 10px;}
    .errors{color: red;font-size: 24px;margin-bottom:1px; font-family: monospace;}
    ::-webkit-input-placeholder {color: #555;}
    .button-login{padding: 10px 15px;cursor: pointer;  margin-top: 5%; margin-bottom: 2%;  background-color: slateblue; color:#fff; border-radius: 2px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
    /*MODEL FOOTER*/
    .modal-footer {height: 30px;padding: 2px 16px;background-color: slateblue;color: white;}

    /*span {text-decoration:underline;color:blue;cursor:pointer;}                   */
    .one{width: 100%; height: auto; }
    .two{width: 100%; height: auto; }
    .three{width: 100px;  border: 2px solid chocolate; background-color: violet; }
        
        /*MAIN-COURSES*/
    .main-Courses{width: 100%; height: 100px;margin-top: 3%; font-family: Arial, Helvetica, sans-serif; }     
    .userName{width: 90%; margin-left:5%; float: left; height: auto; border-radius:15px; }         
    .userName p{font-size: 22px; margin-top:10px;margin-bottom:0px; font-weight: bold; color: slateblue;}      
    .recommended-Course{width: 88%;height: 45px;background-color: slateblue; float: left; margin: 20px 6% 0px 6%; font-size: 22px; font-family: Arial, Helvetica, sans-serif;}
    .recommended-Course p {width: 200px;font-size: 20px; height: auto;float: left;color: #fff;margin: 10px 0px 10px 15px;}
    .recommended-Course-content{width: 88%;height: 40px;border-radius:5px;  border: 1px solid #999; float: left; margin: 6px 6% 0px 6%; font-size: 22px; font-family: Arial, Helvetica, sans-serif;}  
    .recommended-Course-content p{float: left;font-size: 20px; margin: 8px 0px 7px 8px; color: #333;}
    .recommended-Course-content button{float: right; font-size: 13px; color: #fff; background-color: slateblue; cursor: pointer; border-radius:5px; border: 1px solid slateblue; padding: 5px 10px 5px 10px; margin: 5px 8px 6px 0px; }  
        
        
        /*HTML5-COURSE-RIGHTTTT-SIDEEEE*/
    .HTML-Course-right-side{width: 60%;  height: 1000px; display: inline-block; }
    .HTML-Course-right-side>p{color:slateblue; font-size:20px; margin-left: 5%; font-weight: bold; margin-top: 4%;}
    .HTML5-quiz-title{width: 80%; height: 400px; margin-left: 9%; }
    .HTML5-quiz-title p{color:#333;font-size: 14px; font-weight: bold; }
    .HTML5-quiz-title span{color: #333; font-size: 14px; }
    .HTML5-quiz-title button{margin-top: 10px;cursor: pointer; padding: 10px 20px; border-radius:5px;border: 1px solid slateblue; color:#fff; font-weight: bold; background-color: slateblue;}
        
        /*HTML5-KEY-PAGEEEEEEEEE*/
    .HTML5-key{width: 90%; height: 250px;float: left; margin:7% 5% 0% 5%; border: 1px solid #c0c0c0; border-radius: 5px; } 
    .HTML5-key h1{color:#333;margin-left: 30px;margin-top:45px;}    
    .HTML5-key input{width: 60%; padding: 5px 10px 5px 10px; border-radius: 5px 0px 0px 5px; border:2px solid #e0e0e0; margin-left: 30px; margin-top: 3%; font-size: 14px;}     
    .HTML5-key button {color: #fff; background-color: slateblue;border: 1px solid slateblue; border-radius: 0px 5px 5px 0px; padding:7px 10px 7px 10px;}     
        
        /*HTML5-COURSE-LEFTTTT_SIDEEEE*/
    .HTML-Course-left-side{width:25%; height:1000px;background-color: #E0E0E0; float:left;}
    .HTML-Course-left-side-top-content{width: 80%; float:left; margin:4% 5% 0% 5%;background-color: slateblue; height: auto; padding: 3%;}      
    .HTML-Course-left-side-top-content p{color:#fff;font-size: 18px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; } 
    .Plus-HTML5{width: 80%; float:left; margin:2% 5% 0% 5%;height:20px;}
    .Plus-HTML5 span{float: left;margin-left:10px;font-size: 28px; margin-top: -7px; font-weight: bold;cursor: pointer; color: slateblue;}
    .Plus-HTML5 p {float: left;margin-top:0px;padding-left:5px;color: slateblue; cursor: pointer;}      
    .Minus-HTML5{width: 80%; float:left; margin:2% 5% 0% 5%;height:20px;}
    .Minus-HTML5 span{float: left;margin-left:10px;font-size: 34px; margin-top:-15px; font-weight: bold;cursor: pointer; color: slateblue;}   
    .Minus-HTML5 p{float: left;margin-top:0px;padding-left:5px;color: slateblue; cursor: pointer;}     
    .HTML5-quiz {width: 80%; float :left; margin:1% 5% 0% 5%;  height: auto; }
    .HTML5-quiz p {color: slateblue;cursor: pointer; margin: 1% 0% 1% 18%;}  
        
        

    
        /*SECONDDDD PAGE*/
    .SecondPage{width: 100%; height: auto; margin-top: 3%;}  
    .Question1{width: 80%; margin:5% 10%;float: left;border: 1px solid #888; height: auto; background-color: #E0E0E0; border-radius:15px;}
    .Question1 p {margin: 3% 5%;}
    .Question1-Options{width: 80%;margin:-1% 10%;float: left; height: auto;  }
    .Question1-Options input {margin-left:5%; margin-top: 20px; ; }
    .next-button{width: 80%; margin:10% 10%;float: right; height: auto;}
    .next-button button{float:right;cursor: pointer;padding: 7px 18px 5px 18px; background-color: slateblue; color: #fff;  margin-right:10%;font-family: Arial, Helvetica, sans-serif ;  font-size: 14px; border-radius: 2px;}


        /*RESULTTT WALA PAGE*/
    .result-title{width: 80%; height: auto;float:left; margin: 2% 0% 0% 10%;}
    .result-title p{color:slateblue;font-weight: bold;margin-top:0; margin-bottom: 2%;  }
    .result {color:slateblue; width: 70%;  float:left; margin: 2% 0% 0% 15%;}
    .result p {font-size: 32px; text-align: center; }
    .result-score{width: 20%; float:left; margin-left: 28%;  height: auto;}
    .result-score h6{font-size:22px; color:#fff; padding: 3px 0 3px 0; background-color: slateblue;margin:0;width: 100%; text-align: center;}
    .result-score p{margin:0; padding: 3px 0 3px 0; font-size: 28px; border-right:2px solid #e0e0e0;border-left:2px solid #e0e0e0;border-bottom:2px solid #e0e0e0;}
    .result-correct{width: 20%; margin-right: 28%; float: right;  height: auto;}
    .result-correct h6{font-size:22px; color:#fff; padding: 3px 0 3px 0; background-color: slateblue;margin:0;width: 100%; text-align: center;}
    .result-correct p{margin:0; padding: 3px 0 3px 0; font-size: 28px; border-right:2px solid #e0e0e0;border-left:2px solid #e0e0e0;border-bottom:2px solid #e0e0e0;}









    @media only screen and (min-width : 150px) and (max-width : 750px)
    
    
    {.body {clear:both;margin:0 auto;width:100%;font-size:90%;}


    /* The Modal (background) */
    .modal {display: none; position: fixed; z-index: 1; padding-top: 20px;  top: 0; width: 100%;  height: 100%;  overflow: auto;  background-color: rgb(0,0,0);  background-color: rgba(0,0,0,0.4); }


    }